@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
    width: 200px;
    height: 200px;
}

.swiper-wrapper {
    width: 200px;
    height: 200px;
}



/*img{*/
/*    width: 100%;*/
/*    height: 100%;*/

.swiper-slide{
    width: 20px;
    height: 40px;
    background: green;    transform: scale(0.5);


}
.swiper-slide-active{
    width: 40px;
    height: 20px;
    transform: scale(1);
 }