.swiper {
    width: 50%;
    height: 100%;
}

.swiper-slide {
    width: 160px;
    height:330px;
}
.swiper-slide-active {
    transform: scale(1.5)
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}
